//fonts
$mainFontReg: "Source Sans Pro Regular";
$mainFontSemiBold: "Source Sans Pro SemiBold";
$mainFontBold: "Source Sans Pro Bold";
$mainFontBoldItalic: "Source Sans Pro Bold Italic";

//colors
$bg-color: #100c16;
$purple: #8276ff;
$white: #ffffff;
$orange: #ffc759;
$grey: #e7e9f2;
