.container {
  background-color: $bg-color;

  &--md {
    max-width: 1320px;
  }
  &--lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1400px) {
  .conatiner {
    &--md {
      width: 1000px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .conatiner {
    &--md {
      width: 800px;
    }
  }
}
