#tabs-1 {
  & > ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 27px;
      width: 98%;
      height: 2px;
      background-color: $grey;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  }
}
#tabs-1 ul li.active a {
  font-family: $mainFontBold;
}
#tabs-1 ul li.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 110px;
  height: 6px;
  background-color: $white;
  border-radius: 6px;
}
.tabs {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tab-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 55%;
  }
  .tab-right {
    width: 45%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.tabs-list {
  list-style: none;
  & > li {
    padding-left: 23px;
    position: relative;
    margin: 8px 0;
  }

  & > li::before {
    position: absolute;
    content: url("../../images/check-green.svg");
    width: 13px;
    height: 10px;
    left: 0;
  }
}
